#busqueda{
    margin: 1% 0 0 35%;
}

#usuario{
    font-size: 150%;
    text-align: center;
}

#imgPeq{ 
    width: 29%;
}


#seguidores{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.thumbnail{
    background-color: #f9f8f8;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

.navbar-header{
}

.navbar-default{
    background-color: #f58214;
}

#boton{
    float: right;
}

textarea{
    resize: none;
}
#descripcion{
    width: 50em;
    height: 5em;
}
#codigo{
    width:  50em;
    height: 7em;
}

#descripcionDiv{
    margin-top: 5%;
}

#nuevo-post{
    display: inline-block;
    text-align: center;
    background-color: #f9f8f8;
}
    
#nuevoPostDiv{
    
}
#nuevo-post form{
    display: inline-block;
}   

#publicacion{
    text-align: left;
    margin-top: 2%;
    margin-bottom: 10%;
}

#info-publicacion{
    text-align: left;
    margin-top: 12%;
}

#nombre-usuario{
    text-align: center;
    margin-top: 10%;
    font-size: 120%;
    font-weight: bold;
}

#pub{
    display: inline-block;
}