body{
    background: #e6e6fa;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#menu{
    margin: 7% 0 0 60%;
    width: 30%;
    height: 70%;
    background-color: #f4f7f8;
}

#iniciar, #registrarse{
    display: inline-block;
    float: left;
    height: 10%;
    width: 50%;
    text-align: center;
    padding-top: 4%;
}

#camposRegistrarse{
    display: inline-block;
    width: 100%;
    height: 88%;
}

.opcion{
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    color: #3c3c3c;
}

/*iniciar:visited, #registrarse:visited{
    background: #cbcbcb;
    color: #fff;
}*/

input{
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 70%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-top: 6%;
    margin-left: 15%;
}


button {
  color: #FFF;
  background-color:#F65A5B;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  width: 55%;
  height:13%; 
  border: 1px solid #F65A5B;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin: 8% 0% 0% 21.5%;
}
