<html>
<head>
  <title>Feed</title>
  
  <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
  <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="feed.css">
  <link rel="stylesheet" href="recortar-imagen.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href="notifications.css" rel="stylesheet">
  <link rel="stylesheet" href="prettify.css">
  <link rel="stylesheet" href="seleccionar-idioma.css">
  <link href="jquery-linedtextarea.css" type="text/css" rel="stylesheet" />
  <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>    
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="feed.js"></script>
  <script src="notifications.js"></script>
  <script src="redireccionar-nav.js"></script>
  <script src="jquery.localize.min.js"></script>
  <script src="prettify.js"></script>
  <script src="jquery-linedtextarea.js"></script>
  <script src="seleccionar-idioma.js"></script>

</head>
<body> 
            
          <div id=todas-publicaciones class="col-md-12">  
		  </div>
</body>

</html>