<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css"
	rel="stylesheet"></link>
<link
	href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"
	rel="stylesheet"></link>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../../css/index.css" />
<link rel="stylesheet" th:href="@{/css/seleccionar-idioma.css}"
	href="../../css/seleccionar-idioma.css" />

<script th:src="@{/js/lang-css.js}" src="../../js/lang-css.js"></script>
<script th:src="@{/js/jquery.localize.min.js}"
	src="../../js/jquery.localize.min.js"></script>
<script th:src="@{/js/index.js}" src="../../js/index.js"></script>
<script th:src="@{/js/localization.js}" src="../../js/localization.js"> </script>
<script th:src="@{/js/seleccionar-idioma.js}"
	src="../../js/seleccionar-idioma.js"></script>

</head>

<body>
	<div class="container">

		<div id="logoDiv">
			<div id="logo">
				<img id="imgLogo" class="img-responsive" alt="Responsive image"
					src="../../imagenes/logo3.png" />
			</div>
		</div>

		<div id="menuDiv">
			<div id="error">
				<p th:if="${param.error}" class="alert">Usuario o contraseña incorrecto</p>
				<p th:if="${param.passwordMismatch}" class="alert">La nueva contraseña no coincide</p>
				<p th:if="${param.usernameAlreadyExists}" class="alert">Ya existe el usuario</p>
			</div>
			<div id="menu" class="col-md-4">

				<div id="pestaña">
					<div id="iniciar" class="col-md-6">
						<label data-localize="IniciarSesion"></label>
					</div>
					<div id="registrarse" class="col-md-6">
						<label data-localize="Registrarse"></label>
					</div>
				</div>

				<div id="cuerpo" class="col-md-12">

					<!-- Cuadro de registro  -->
					<div id="datos-registro">
						<form class="form-horizontal" role="form" th:action="@{/login}"
							action="/login" method="POST">
							<fieldset>
								<div id="formulario" class="form-group">
									<label class="col-md-12" for="username"
										data-localize="nombreDeUsuario"></label>
									<div class="col-sm-12">
										<input type="text" id="username" name="username" />
									</div>
								</div>
								<div id="formulario" class="form-group">
									<label class="col-md-12" for="email" data-localize="Correo"></label>
									<div class="col-sm-12">
										<input type="text" id="email" name="email" />
									</div>
								</div>
								<div id="formulario" class="form-group">
									<label class="col-md-12" for="password"
										data-localize="Contraseña"></label>
									<div class="col-sm-12">
										<input type="password" id="password" name="password" />
									</div>
								</div>
								<div id="formulario" class="form-group">
									<label class="col-md-12" for="confirm"
										data-localize="Contraseña2"></label>
									<div class="col-sm-12">
										<input type="password" id="confirm" name="confirm" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-4">
										<input class="btn btn-default boton" type="submit"
											data-localize="Registrarse"></input>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<!--  Cudro de inicio de Sesion -->
					<div id="datos-iniciar">
					
						<form class="form-horizontal" role="form" th:action="@{/login}"
							action="/login" method="POST">
							<fieldset>
								<div id="formulario" class="form-group">
									<label class="col-md-12" for="username" data-localize="Usuario"></label>
									<div class="col-sm-12">
										<input type="text" id="username" name="username" />
									</div>
								</div>
								<div id="formulario" class="form-group">
									<label class="col-md-12" for="password"
										data-localize="Contraseña"></label>
									<div class="col-sm-12">
										<input type="password" id="password" name="password" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-4">
										<input class="btn btn-default boton" type="submit"
											data-localize="IniciarSesion"></input>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

			<div id="lenguajes">

				<select id="seleccionar-idioma" name="Idioma">
					<option value="Español" data-localize="Español"></option>
					<option value="Ingles" data-localize="Ingles"></option>
					<option value="Portugues" data-localize="Portugues"></option>
				</select> <img id="img-mundo" class="img-peq" src="../../imagenes/mundo.png"></img>

			</div>

		</div>
	</div>

</body>

</html>