<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"/>
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css" rel="stylesheet"/>
        
        <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>    
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
        <link rel="stylesheet" th:href="@{/css/navigationBar.css}"
          href="../../css/navigationBar.css" />
    </head>
    
    <body>
        <nav id="nav" class="navbar navbar-default">
        <div class="container-fluid" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <ul class="nav navbar-nav" >
            <a href="feed.html">
            	<img class="img-responsive" id="imgn-logo" alt="Responsive image" src="../../imagenes/Logo.png"/>
            </a>
        </ul>
            
        <!-- Barra de Busqueda    -->
          <form class="navbar-form navbar-nav" id="search" role="search">
              <input type="text" id="barra-busqueda" class="form-control" placeholder="Search"/>
          </form>
            
            
          <ul class="nav navbar-nav navbar-right">

              <li id="notifications" class="dropdown">
              <span id="notification_count" th:text="${notificationCount}">
              </span>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <img id="campana" class="img-responsive" src="../../imagenes/Campana2.png"  alt="Responsive image"/>
              </a>
              <ul class="dropdown-menu" role="menu">
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Perfil <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Ver perfil</a></li>
                <li><a href="#">Configuracion</a></li>
                <li class="divider"></li>
                <li><a href="#">Cerrar sesion</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
        
    
    
    </body>

</html>