body{
	background-color: #f4f7f8;
}

.boton{ 
    color: white;
    background-color: #f58214;
    width: 8em;
    height: 2.5em;
}

input{
    border: 1px solid #c0c0c0;
    height: 2em;
    width: 100%;
    color: #000;
}

#menu{
	background: #fff;
    margin-top: 6em;
    width: 25em;
    float: right;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 0;
}

#pestaña{
	margin: 0;
	width: 100%;
	height: 30px;
}

#iniciar{
	display: inline-block;
	float: left;
	width: 50%;
	height: 30px;
	margin: 0;
    text-align: center;  
    border-top-left-radius: 5px;
}

#registrarse{
	display: inline-block;
	float: left;
	width: 50%;
	height: 30px;
    margin: 0;
    text-align: center; 
    border-top-right-radius: 5px;
}

#cuerpo{
    margin-top: 15px;
}

.img-peq{
    float: left;
    max-height: 35px;
    max-width:  35px;
}

#pestaña label{
	margin-top: 5px;
}

#formulario label{
	font-weight: normal;
}

#lenguajes{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
