.img-peq{
    float: left;
    max-height: 35px;
    max-width:  35px;
}

.img-med{
    float: left;
    max-height: 60px;
    max-width:  60px;
}
.img-grande{
    float: left;
    max-height: 225px;
    max-width:  255px;
}

.circle{
	border-radius:100%;
}

.img-follow{
    float: left;
    max-height: 160px;
    max-width:  200px;
}

