a{
	cursor: pointer;
}

.post{
width: 620px;
border: 1px solid;
border-color:#c0c0c0;
padding-left: 30px;
padding-right: 18px;
margin-top : 20px;
margin-left:403px;
}

.created-by{
	margin-top: 2px;
	margin-right: 2px;
    float: right; 
}

.publisherPhoto{
    margin-left: 0px;
}
.publisherName{
    margin-left: -2px;
    text-align: center;
}

.description{
	padding-left: 5px;
    border: 1px solid;
    border-radius: 3px;
    width: 450px;
    height: 40px;
    font-size: 15px;
    margin-left: 66px;
}

#code-lines{
    width: 450px;
    margin-left: 127px;
}

.show-hide{
    float: right;
    margin-right: 25px;
    margin-top: 2em;
}

.post-icons{
    margin-left: 127px;
    margin-top: 20px;
}

.post-icons tr td table{
	margin-right: 10px;
}

.post-options{
    margin-right: 20px;
    margin-top: 1.5em;
}


.comment-list{
    margin-left: 127px;
    margin-top: 20px;
    margin-right:60px; 
    overflow: hidden;
}
.comments-closed{
	max-height: 0px;
    overflow: hidden;
}
.comments-opened{
	max-height: auto;
}


.comment{
    border: 1px solid #c0c0c0;
 	border-radius: 5px;
 	padding-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment-content , .commenter{
    font-size: 13px;
}

.commenter{
    margin-top: 20px;
}
.comment-content{
    margin-top: 3px;
    margin-left: 10px;
}

.new-comment{
    margin-left: 127px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.new-comment-input{ 
    margin-left: 10px;
    width: 308px;
}


li{
list-style-type: none;
}

.shared-by{
	padding-bottom:40px;
	padding-top: 10px;
	border-top: 1px solid #c0c0c0;
}
.shared-by-ref{
   margin-left: 50px;
}


.share-img{
	margin-left: 20px;
}
.share-submit{	
	margin-top:20px;
	background-color : #f58214;
	margin-left: 532px;
	color: #fff;
	margin-bottom: 5px;
}

.share-description{
    margin-top: -10px;
    width: 450px;
    height: 64px;
    margin-left:48px;
}
.share-username{
	margin-left: 20px;
	text-align: center;
}

