
#img-tumbnail{
	margin-left:20px;
    border-radius: 10px;
}


#userNameTumbnail{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.relation{
	margin-left:20px;
    padding: 10px;
    text-align: center;
}

.tumbnail-border{
	}