
#img-tumbnail{
    margin: 40px 0 0 20px;
    border-radius: 5px;
}

#profile{
	background-color:#FAFAFA;
}
#userNameTumbnail{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.relation{
	margin-left:20px;
    padding: 10px;
    text-align: center;
}

.tumbnail-border{
	}