

#img-tumbnail{
    border-radius: 10px;
}


#userNameTumbnail{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.relation{
    padding: 10px;
    text-align: center;
}

.tumbnail-border{
	border: 1px solid #c0c0c0;
	
}